<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <import resource="classpath*:applicationContext-services.xml"/>

    <!-- Uncomment this for local integration test, to connect to single mongo instance.

    <mongo:mongo id="iconnectReplicaSetMongo" host="${mongo.host}" port="${mongo.port}"/>
    <mongo:db-factory id="iconnectMongoDBFactory" dbname="${mongo.dbname}" mongo-ref="iconnectReplicaSetMongo"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="iconnectMongoDBFactory" />
    </bean>
    -->
    <context:component-scan base-package="com.dawaaii"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dawaaii_services.properties</value>
                <value>file:${user.home}/dawaaii_services.properties</value>
                <value>classpath:/dawaaii_services_integrationtest.properties</value>
                <value>file:${user.home}/dawaaii_services_integrationtest.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="1"></property>
    </bean>




</beans>