.idea/*
api/api.imlapi/api.iml
api/api_web/api_web.iml
core.iml
dbscripts/target/dbscrips-1.0-SNAPSHOT.jar
scheduler/scheduler.iml
services/services.iml
services/services_core/services_core.iml
services/services_impl/services_impl.iml
web_common/web_common.iml
api/api_web/src/main/main3.iml
api/api_web/target/
dbscripts/dbscrips.iml
scheduler/src/main/main2.iml
scheduler/target/
services/services_core/src/main/main.iml
services/services_core/target/
services/services_impl/src/main/main4.iml
services/services_impl/src/test/test.iml
services/services_impl/target/
web_common/src/main/main1.iml
web_common/target/
#Compiled files
*.class

# Package Files #
#*.jar
#*.war
#*.ear

#Eclipse Files
target/
.settings/
build/
.classpath
.project
*.log
metastore_db/
userlogs/
TempStatsStore/
.metadata/
# Mac Files
.DS_Store
.AppleDouble
.LSOverride

# Intellij Files
.idea/
*.iml

#Tomcat
Servers/

