<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="ehCacheManager"/>

    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <value>classpath:ehcache-services.xml</value>
        </property>
    </bean>

    <bean id="ehcacheManagementService" class="net.sf.ehcache.management.ManagementService"
          init-method="init"
          destroy-method="dispose">
        <constructor-arg ref="ehCacheManager"/>
        <constructor-arg ref="ehcacheMbeanServer"/>
        <constructor-arg index="2" value="${methodCache.managment.registerCacheManager}"/>
        <constructor-arg index="3" value="${methodCache.managment.registerCaches}"/>
        <constructor-arg index="4" value="${methodCache.managment.registerCacheConfigurations}"/>
        <constructor-arg index="5" value="${methodCache.managment.registerCacheStatistics}"/>
    </bean>

    <bean id="ehcacheMbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
        <property name="locateExistingServerIfPossible" value="true"/>
    </bean>

    <bean id="methodCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager">
            <ref bean="ehCacheManager"/>
        </property>
        <property name="cacheName">
            <value>dawaaii.services.methodcache</value>
        </property>
    </bean>
    <!-- This method cache is for an extended period of time, probably longer than 4 hours -->
    <bean id="methodCacheInterceptor" class="com.dawaaii.service.cache.impl.MethodCacheInterceptor">
        <property name="cache">
            <ref bean="methodCache"/>
        </property>
        <property name="methodCacheEnabled">
            <value>${methodCache.methodCacheInterceptor.enabled}</value>
        </property>
    </bean>

    <!-- The methods for which the results are cached -->
    <aop:config>
        <!-- Card Selection
        <aop:pointcut id="dummyId" expression="execution(* com.dawaaii.service.user.getUserById(..))" />
        <aop:advisor pointcut-ref="vehicleService.getVehicleByIdMethod" advice-ref="methodCacheInterceptor"/>
        -->
    </aop:config>

</beans>